website/Farmers_Field/Connected Services/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:int" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      <xs:element minOccurs="0" name="user_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zip_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="product_ID" type="xs:int" />
      <xs:element minOccurs="0" name="product_category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_discount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="product_supplier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
</xs:schema>